In [66]:
import pandas as pd
import schools
df = schools.load_demographics()

In [144]:
# 2019 high school directory
url = "https://data.cityofnewyork.us/resource/uq7m-95z8.csv?$limit=10000000"
df = pd.read_csv(url)
list(df.columns)

['dbn',
 'school_name',
 'boro',
 'overview_paragraph',
 'school_10th_seats',
 'academicopportunities1',
 'academicopportunities2',
 'academicopportunities3',
 'academicopportunities4',
 'academicopportunities5',
 'ell_programs',
 'language_classes',
 'advancedplacement_courses',
 'diplomaendorsements',
 'neighborhood',
 'shared_space',
 'campus_name',
 'building_code',
 'location',
 'phone_number',
 'fax_number',
 'school_email',
 'website',
 'subway',
 'bus',
 'grades2018',
 'finalgrades',
 'total_students',
 'start_time',
 'end_time',
 'addtl_info1',
 'extracurricular_activities',
 'psal_sports_boys',
 'psal_sports_girls',
 'psal_sports_coed',
 'school_sports',
 'graduation_rate',
 'attendance_rate',
 'pct_stu_enough_variety',
 'college_career_rate',
 'pct_stu_safe',
 'girls',
 'boys',
 'pbat',
 'international',
 'specialized',
 'transfer',
 'ptech',
 'earlycollege',
 'geoeligibility',
 'school_accessibility_description',
 'prgdesc1',
 'prgdesc2',
 'prgdesc3',
 'prgdesc4',
 'prgdesc5',
 'prgdesc6',
 'prgdesc7',
 'prgdesc8',
 'prgdesc9',
 'prgdesc10',
 'directions1',
 'directions2',
 'directions3',
 'directions4',
 'directions5',
 'directions6',
 'directions7',
 'directions8',
 'directions9',
 'directions10',
 'requirement1_1',
 'requirement1_2',
 'requirement1_3',
 'requirement1_4',
 'requirement1_5',
 'requirement1_6',
 'requirement1_7',
 'requirement1_8',
 'requirement1_9',
 'requirement1_10',
 'requirement2_1',
 'requirement2_2',
 'requirement2_3',
 'requirement2_4',
 'requirement2_5',
 'requirement2_6',
 'requirement2_7',
 'requirement2_8',
 'requirement2_9',
 'requirement2_10',
 'requirement3_1',
 'requirement3_2',
 'requirement3_3',
 'requirement3_4',
 'requirement3_5',
 'requirement3_6',
 'requirement3_7',
 'requirement3_8',
 'requirement3_9',
 'requirement3_10',
 'requirement4_1',
 'requirement4_2',
 'requirement4_3',
 'requirement4_4',
 'requirement4_5',
 'requirement4_6',
 'requirement4_7',
 'requirement4_8',
 'requirement4_9',
 'requirement4_10',
 'requirement5_1',
 'requirement5_2',
 'requirement5_3',
 'requirement5_4',
 'requirement5_5',
 'requirement5_6',
 'requirement5_7',
 'requirement5_8',
 'requirement5_9',
 'requirement5_10',
 'requirement6_1',
 'requirement6_2',
 'requirement6_3',
 'requirement6_4',
 'requirement6_5',
 'requirement6_6',
 'requirement6_7',
 'requirement6_8',
 'requirement6_9',
 'requirement6_10',
 'requirement7_1',
 'requirement7_2',
 'requirement7_3',
 'requirement7_4',
 'requirement7_5',
 'requirement7_6',
 'requirement7_7',
 'requirement7_8',
 'requirement7_9',
 'requirement7_10',
 'requirement8_1',
 'requirement8_2',
 'requirement8_3',
 'requirement8_4',
 'requirement8_5',
 'requirement8_6',
 'requirement8_7',
 'requirement8_8',
 'requirement8_9',
 'requirement8_10',
 'requirement9_1',
 'requirement9_2',
 'requirement9_3',
 'requirement9_4',
 'requirement9_5',
 'requirement9_6',
 'requirement9_7',
 'requirement9_8',
 'requirement9_9',
 'requirement9_10',
 'requirement10_1',
 'requirement10_2',
 'requirement10_3',
 'requirement10_4',
 'requirement10_5',
 'requirement10_6',
 'requirement10_7',
 'requirement10_8',
 'requirement10_9',
 'requirement10_10',
 'requirement11_1',
 'requirement11_2',
 'requirement11_3',
 'requirement11_4',
 'requirement11_5',
 'requirement11_6',
 'requirement11_7',
 'requirement11_8',
 'requirement11_9',
 'requirement11_10',
 'requirement12_1',
 'requirement12_2',
 'requirement12_3',
 'requirement12_4',
 'requirement12_5',
 'requirement12_6',
 'requirement12_7',
 'requirement12_8',
 'requirement12_9',
 'requirement12_10',
 'offer_rate1',
 'offer_rate2',
 'offer_rate3',
 'offer_rate4',
 'offer_rate5',
 'offer_rate6',
 'offer_rate7',
 'offer_rate8',
 'offer_rate9',
 'offer_rate10',
 'program1',
 'program2',
 'program3',
 'program4',
 'program5',
 'program6',
 'program7',
 'program8',
 'program9',
 'program10',
 'code1',
 'code2',
 'code3',
 'code4',
 'code5',
 'code6',
 'code7',
 'code8',
 'code9',
 'code10',
 'interest1',
 'interest2',
 'interest3',
 'interest4',
 'interest5',
 'interest6',
 'interest7',
 'interest8',
 'interest9',
 'interest10',
 'method1',
 'method2',
 'method3',
 'method4',
 'method5',
 'method6',
 'method7',
 'method8',
 'method9',
 'method10',
 'seats9ge1',
 'seats9ge2',
 'seats9ge3',
 'seats9ge4',
 'seats9ge5',
 'seats9ge6',
 'seats9ge7',
 'seats9ge8',
 'seats9ge9',
 'seats9ge10',
 'grade9gefilledflag1',
 'grade9gefilledflag2',
 'grade9gefilledflag3',
 'grade9gefilledflag4',
 'grade9gefilledflag5',
 'grade9gefilledflag6',
 'grade9gefilledflag7',
 'grade9gefilledflag8',
 'grade9gefilledflag9',
 'grade9gefilledflag10',
 'grade9geapplicants1',
 'grade9geapplicantsperseat1',
 'grade9geapplicants2',
 'grade9geapplicantsperseat2',
 'grade9geapplicants3',
 'grade9geapplicantsperseat3',
 'grade9geapplicants4',
 'grade9geapplicantsperseat4',
 'grade9geapplicants5',
 'grade9geapplicantsperseat5',
 'grade9geapplicants6',
 'grade9geapplicantsperseat6',
 'grade9geapplicants7',
 'grade9geapplicantsperseat7',
 'grade9geapplicants8',
 'grade9geapplicantsperseat8',
 'grade9geapplicants9',
 'grade9geapplicantsperseat9',
 'grade9geapplicants10',
 'grade9geapplicantsperseat10',
 'seats9swd1',
 'seats9swd2',
 'seats9swd3',
 'seats9swd4',
 'seats9swd5',
 'seats9swd6',
 'seats9swd7',
 'seats9swd8',
 'seats9swd9',
 'seats9swd10',
 'grade9swdfilledflag1',
 'grade9swdfilledflag2',
 'grade9swdfilledflag3',
 'grade9swdfilledflag4',
 'grade9swdfilledflag5',
 'grade9swdfilledflag6',
 'grade9swdfilledflag7',
 'grade9swdfilledflag8',
 'grade9swdfilledflag9',
 'grade9swdfilledflag10',
 'grade9swdapplicants1',
 'grade9swdapplicantsperseat1',
 'grade9swdapplicants2',
 'grade9swdapplicantsperseat2',
 'grade9swdapplicants3',
 'grade9swdapplicantsperseat3',
 'grade9swdapplicants4',
 'grade9swdapplicantsperseat4',
 'grade9swdapplicants5',
 'grade9swdapplicantsperseat5',
 'grade9swdapplicants6',
 'grade9swdapplicantsperseat6',
 'grade9swdapplicants7',
 'grade9swdapplicantsperseat7',
 'grade9swdapplicants8',
 'grade9swdapplicantsperseat8',
 'grade9swdapplicants9',
 'grade9swdapplicantsperseat9',
 'grade9swdapplicants10',
 'grade9swdapplicantsperseat10',
 'seats1specialized',
 'seats2specialized',
 'seats3specialized',
 'seats4specialized',
 'seats5specialized',
 'seats6specialized',
 'applicants1specialized',
 'applicants2specialized',
 'applicants3specialized',
 'applicants4specialized',
 'applicants5specialized',
 'applicants6specialized',
 'appperseat1specialized',
 'appperseat2specialized',
 'appperseat3specialized',
 'appperseat4specialized',
 'appperseat5specialized',
 'appperseat6specialized',
 'seats101',
 'seats102',
 'seats103',
 'seats104',
 'seats105',
 'seats106',
 'seats107',
 'seats108',
 'seats109',
 'seats1010',
 'admissionspriority11',
 'admissionspriority21',
 'admissionspriority31',
 'admissionspriority41',
 'admissionspriority51',
 'admissionspriority61',
 'admissionspriority71',
 'admissionspriority12',
 'admissionspriority22',
 'admissionspriority32',
 'admissionspriority42',
 'admissionspriority52',
 'admissionspriority62',
 'admissionspriority72',
 'admissionspriority13',
 'admissionspriority23',
 'admissionspriority33',
 'admissionspriority43',
 'admissionspriority53',
 'admissionspriority63',
 'admissionspriority73',
 'admissionspriority14',
 'admissionspriority24',
 'admissionspriority34',
 'admissionspriority44',
 'admissionspriority54',
 'admissionspriority64',
 'admissionspriority74',
 'admissionspriority15',
 'admissionspriority25',
 'admissionspriority35',
 'admissionspriority45',
 'admissionspriority55',
 'admissionspriority65',
 'admissionspriority75',
 'admissionspriority16',
 'admissionspriority26',
 'admissionspriority36',
 'admissionspriority46',
 'admissionspriority56',
 'admissionspriority66',
 'admissionspriority76',
 'admissionspriority17',
 'admissionspriority27',
 'admissionspriority37',
 'admissionspriority47',
 'admissionspriority57',
 'admissionspriority67',
 'admissionspriority77',
 'admissionspriority18',
 'admissionspriority28',
 'admissionspriority38',
 'admissionspriority48',
 'admissionspriority58',
 'admissionspriority68',
 'admissionspriority78',
 'admissionspriority19',
 'admissionspriority29',
 'admissionspriority39',
 'admissionspriority49',
 'admissionspriority59',
 'admissionspriority69',
 'admissionspriority79',
 'admissionspriority110',
 'admissionspriority210',
 'admissionspriority310',
 'admissionspriority410',
 'admissionspriority510',
 'admissionspriority610',
 'admissionspriority710',
 'eligibility1',
 'eligibility2',
 'eligibility3',
 'eligibility4',
 'eligibility5',
 'eligibility6',
 'eligibility7',
 'eligibility8',
 'eligibility9',
 'eligibility10',
 'auditioninformation1',
 'auditioninformation2',
 'auditioninformation3',
 'auditioninformation4',
 'auditioninformation5',
 'auditioninformation6',
 'auditioninformation7',
 'auditioninformation8',
 'auditioninformation9',
 'auditioninformation10',
 'common_audition1',
 'common_audition2',
 'common_audition3',
 'common_audition4',
 'common_audition5',
 'common_audition6',
 'common_audition7',
 'common_audition8',
 'common_audition9',
 'common_audition10',
 'primary_address_line_1',
 'city',
 'zip',
 'state_code',
 'borough',
 'latitude',
 'longitude',
 'community_board',
 'council_district',
 'census_tract',
 'bin',
 'bbl',
 'nta']

In [151]:
df = df.sort_values(by=["grade9geapplicantsperseat1"], ascending=False)
df.head(20)[["dbn", "school_name", "grade9geapplicants1", "grade9geapplicantsperseat1", "admissionspriority11"]]
# df.head(20)[["dbn",  "overview_paragraph"]]

,dbn,school_name,grade9geapplicants1,grade9geapplicantsperseat1,admissionspriority11
370,26Q430,Francis Lewis High School,4596.0,69.0,Priority to students who live in the zoned are...
89,02M439,Manhattan Village Academy,4854.0,58.0,Open to New York City residents
145,13K595,Bedford Academy High School,1889.0,56.0,Priority to District 13 students or residents
125,03M541,Manhattan / Hunter Science High School,4731.0,53.0,Open to New York City residents
319,02M416,Eleanor Roosevelt High School,5052.0,49.0,Priority to District 2 students or residents
386,02M411,Baruch College Campus High School,4508.0,49.0,Priority to District 2 students or residents
128,22K425,James Madison High School,3551.0,48.0,NaN
64,09X505,"Bronx School for Law, Government and Justice",1135.0,42.0,Priority to Bronx students or residents
172,01M539,"New Explorations into Science, Technology and ...",5462.0,41.0,Priority to continuing 8th graders
418,05M362,Columbia Secondary School,3225.0,40.0,Priority to continuing 8th graders
399,04M555,Central Park East High School,4488.0,40.0,Open to New York City residents
29,15K684,Millennium Brooklyn High School,5062.0,39.0,Priority to Brooklyn students or residents
344,10X374,Knowledge and Power Preparatory Academy Intern...,1647.0,39.0,Open to New York City residents
176,02M376,NYC iSchool,3861.0,39.0,Open to New York City residents
47,04M495,Park East High School,2893.0,38.0,Open to New York City residents
346,31R460,Susan E. Wagner High School,771.0,37.0,Priority to Staten Island students or residents
240,30Q575,Academy of American Studies,2122.0,37.0,Priority to Queens students or residents
378,09X260,Bronx Center for Science and Mathematics,3030.0,36.0,Priority to Bronx students or residents
146,02M418,Millennium High School,5030.0,36.0,Priority to students who live or attend school...
79,10X477,Marble Hill High School for International Studies,1464.0,35.0,Priority to Bronx students or residents

In [80]:
schools.find_school(df, "Millennium Brooklyn")

# DBNs of selective high schools
# 25Q525
# 02M545
# 02M416
# 30Q580
# 02M418
# 05M362
# 01M539
# 27Q323
# 15K684

,dbn,school_name,year,total_enrollment,grade_3k_pk_half_day_full,grade_k,grade_1,grade_2,grade_3,grade_4,...,short_name,non_white,non_white_1,black_hispanic,black_hispanic_1,white_asian,white_asian_1,non_white_asian,non_white_asian_1,match
3854,15K684,Millennium Brooklyn HS,2019,684,0,0,0,0,0,0,...,HS 684,368,0.538012,215,0.314327,415,0.606725,269,0.393275,83
3719,15K131,P.S. 131 Brooklyn,2019,845,34,108,132,145,128,140,...,PS 131,775,0.917160,481,0.569231,357,0.422485,488,0.577515,57
4038,17K138,P.S. 138 Brooklyn,2019,525,38,41,32,44,45,51,...,PS 138,500,0.952381,482,0.918095,35,0.066667,490,0.933333,57
4048,17K181,P.S. 181 Brooklyn,2019,615,34,48,50,55,72,63,...,PS 181,600,0.975610,578,0.939837,26,0.042276,589,0.957724,57
4792,20K247,P.S. 247 Brooklyn,2019,853,0,125,125,151,145,149,...,PS 247,571,0.669402,111,0.130129,738,0.865182,115,0.134818,57
5137,22K198,P.S. 198 Brooklyn,2019,391,26,46,72,59,57,59,...,PS 198,385,0.984655,370,0.946292,16,0.040921,375,0.959079,57

In [81]:
df = df[
    ['dbn', 'school_name', 'year', 'total_enrollment',
           'female', 'female_1', 'male',
           'male_1', 'asian', 'asian_1', 'black', 'black_1', 'hispanic',
           'hispanic_1', 'multiple_race_categories', 'multiple_race_categories_1',
           'white', 'white_1', 'students_with_disabilities',
           'students_with_disabilities_1', 'english_language_learners',
           'english_language_learners_1', 'poverty', 'poverty_1',
           'hs', 'district',
           'school_num', 'boro', 'boro_name', 'school_type',
           'non_white', 'non_white_1', 'black_hispanic',
           'black_hispanic_1', 'white_asian', 'white_asian_1', 'non_white_asian',
           'non_white_asian_1'
    ]
]

# get high schools for the 2019-2020 school year
hs = df.query("hs==True and year == 2019")

# fix raw poverty counts which are strings to get an estimate
def pov(row):
        if "Below" in row.poverty:
            row.poverty = int(row.total_enrollment * .04)
        if "Above" in row.poverty:
            row.poverty = int(row.total_enrollment * .96)
        row.poverty = int(row.poverty)
        return row

hs = hs.apply(pov, axis=1)

hs.columns

Index(['dbn', 'school_name', 'year', 'total_enrollment', 'female', 'female_1',
       'male', 'male_1', 'asian', 'asian_1', 'black', 'black_1', 'hispanic',
       'hispanic_1', 'multiple_race_categories', 'multiple_race_categories_1',
       'white', 'white_1', 'students_with_disabilities',
       'students_with_disabilities_1', 'english_language_learners',
       'english_language_learners_1', 'poverty', 'poverty_1', 'hs', 'district',
       'school_num', 'boro', 'boro_name', 'school_type', 'non_white',
       'non_white_1', 'black_hispanic', 'black_hispanic_1', 'white_asian',
       'white_asian_1', 'non_white_asian', 'non_white_asian_1'],
      dtype='object')

In [83]:
# the school IDs of the 9 specialized high schools (including laguardia)
spec_dbn = ["10X445", "02M475","14K449" , "13K430", "03M485", "05M692", "10X696", "28Q687", "31R605"]

# 9 top ranked high schools by US News, excluding specialized
us_news = ["25Q525", "02M545", "02M416", "30Q580", "02M418", "05M362", "01M539", "27Q323", "15K684"]


hs["specialized"] = hs.dbn.isin(spec_dbn)
hs["us_news"] = hs.dbn.isin(us_news)

hs.query("us_news==True")

,dbn,school_name,year,total_enrollment,female,female_1,male,male_1,asian,asian_1,...,non_white,non_white_1,black_hispanic,black_hispanic_1,white_asian,white_asian_1,non_white_asian,non_white_asian_1,specialized,us_news
124,01M539,"New Explorations into Science, Technology and ...",2019,1806,902,0.499,904,0.501,615,0.341,...,1105,0.611849,340,0.188261,1316,0.728682,490,0.271318,False,True
512,02M416,Eleanor Roosevelt High School,2019,541,319,0.590,222,0.410,82,0.152,...,184,0.340111,64,0.118299,439,0.811460,102,0.188540,False,True
517,02M418,Millennium High School,2019,674,389,0.577,285,0.423,334,0.496,...,472,0.700297,97,0.143917,536,0.795252,138,0.204748,False,True
653,02M545,High School for Dual Language and Asian Studies,2019,396,232,0.586,164,0.414,367,0.927,...,387,0.977273,18,0.045455,376,0.949495,20,0.050505,False,True
1200,05M362,Columbia Secondary School,2019,698,352,0.504,346,0.496,65,0.093,...,493,0.706304,384,0.550143,270,0.386819,428,0.613181,False,True
3854,15K684,Millennium Brooklyn HS,2019,684,390,0.570,294,0.430,99,0.145,...,368,0.538012,215,0.314327,415,0.606725,269,0.393275,False,True
5909,25Q525,Townsend Harris High School,2019,1219,796,0.653,423,0.347,675,0.554,...,988,0.810500,201,0.164889,906,0.743232,313,0.256768,False,True
6352,27Q323,Scholars' Academy,2019,1311,734,0.560,577,0.440,263,0.201,...,770,0.587338,476,0.363082,804,0.613272,507,0.386728,False,True
7142,30Q580,Baccalaureate School for Global Education,2019,557,327,0.587,230,0.413,253,0.454,...,409,0.734291,132,0.236984,401,0.719928,156,0.280072,False,True

In [138]:
agg_funcs = {"dbn":"count", 
             "total_enrollment":"sum", 
             "black":"sum",
             "black_1":"mean",
             "white":"sum", 
             "white_1":"mean", 
             "hispanic":"sum",
             "hispanic_1":"mean",
             "asian":"sum",
             "hispanic_1":"mean",
             "students_with_disabilities":"sum",
             "hispanic_1":"mean",
             "poverty":"sum",
             "poverty_1":"mean",
             "english_language_learners":"sum",
             "hispanic_1":"mean",
             
            }

high_pov = hs.query("poverty_1 > .89").agg(agg_funcs)
high_pov["name"] = "high poverty"


wealthy = hs.query("poverty_1 < .40")
print(wealthy.sort_values(by=["poverty_1"])[["school_name", "white_1", "black_1", "hispanic_1", "asian_1"]])

wealthy = wealthy.agg(agg_funcs)
wealthy["name"] = "low poverty"


all_schools = hs.agg(agg_funcs)
all_schools["name"] = "all schools"
# agg.append(high_pov, ignore_index=False)

pd.DataFrame([all_schools, high_pov, wealthy])

                                            school_name  white_1  black_1  \
324                                  The Clinton School    0.647    0.030
942                                Special Music School    0.461    0.072
512                       Eleanor Roosevelt High School    0.660    0.028
854                           West End Secondary School    0.654    0.071
124   New Explorations into Science, Technology and ...    0.388    0.074
497         N.Y.C. Lab School for Collaborative Studies    0.582    0.023
2690  High School of American Studies at Lehman College    0.539    0.052
912                                  Beacon High School    0.436    0.151
917   Fiorello H. LaGuardia High School of Music & A...    0.430    0.092
487            Professional Performing Arts High School    0.447    0.199
482               Institute for Collaborative Education    0.440    0.231
7122       Frank Sinatra School of the Arts High School    0.360    0.121
7481                            Tottenville High School    0.793    0.015
1230  High School for Mathematics, Science and Engin...    0.291    0.076
492                   Baruch College Campus High School    0.431    0.035
443                                         NYC iSchool    0.469    0.123

      hispanic_1  asian_1
324        0.120    0.129
942        0.150    0.141
512        0.091    0.152
854        0.187    0.056
124        0.115    0.341
497        0.117    0.195
2690       0.139    0.209
912        0.204    0.098
917        0.174    0.201
487        0.217    0.062
482        0.211    0.059
7122       0.309    0.114
7481       0.117    0.062
1230       0.171    0.299
492        0.150    0.335
443        0.256    0.086

,dbn,total_enrollment,black,black_1,white,white_1,hispanic,hispanic_1,asian,students_with_disabilities,poverty,poverty_1,english_language_learners,name
0,587.0,375919.0,108425.0,0.345879,47799.0,0.085552,152616.0,0.452171,56552.0,83089.0,282648.0,0.796028,42807.0,all schools
1,120.0,48527.0,12869.0,0.288865,1573.0,0.034249,31563.0,0.622622,1823.0,17263.0,44742.0,0.923658,13150.0,high poverty
2,16.0,16322.0,1255.0,0.087062,8743.0,0.501750,2619.0,0.170500,2527.0,2264.0,4772.0,0.280000,118.0,low poverty

In [140]:
cols = SCHOOL_BASIC = [
#     'dbn',
#     'boro',
#     'district',
    'school_name',
    'total_enrollment',
    "black_1", 
    "hispanic_1", 
    "asian_1", 
    "white_1", 
    "poverty_1"
]

comp = hs.query("specialized == True or us_news == True")
comp[cols].sort_values(by=["black_1"])

,school_name,total_enrollment,black_1,hispanic_1,asian_1,white_1,poverty_1
7501,Staten Island Technical High School,1335,0.004,0.039,0.527,0.416,0.428
582,Stuyvesant High School,3381,0.008,0.034,0.721,0.185,0.449
653,High School for Dual Language and Asian Studies,396,0.018,0.028,0.927,0.023,0.856
2650,The Bronx High School of Science,2981,0.027,0.070,0.642,0.227,0.433
512,Eleanor Roosevelt High School,541,0.028,0.091,0.152,0.660,0.179
517,Millennium High School,674,0.030,0.114,0.496,0.300,0.504
6650,Queens High School for the Sciences at York Co...,480,0.040,0.040,0.827,0.042,0.619
7142,Baccalaureate School for Global Education,557,0.045,0.192,0.454,0.266,0.436
5909,Townsend Harris High School,1219,0.051,0.114,0.554,0.189,0.495
2690,High School of American Studies at Lehman College,382,0.052,0.139,0.209,0.539,0.267
3378,Brooklyn Technical High School,6040,0.055,0.067,0.608,0.247,0.586
124,"New Explorations into Science, Technology and ...",1806,0.074,0.115,0.341,0.388,0.234
1230,"High School for Mathematics, Science and Engin...",485,0.076,0.171,0.299,0.291,0.365
917,Fiorello H. LaGuardia High School of Music & A...,2946,0.092,0.174,0.201,0.430,0.298
3569,"Brooklyn Latin School, The",785,0.125,0.112,0.540,0.139,0.581
3854,Millennium Brooklyn HS,684,0.140,0.174,0.145,0.462,0.402
6352,Scholars' Academy,1311,0.166,0.197,0.201,0.413,0.432
1200,Columbia Secondary School,698,0.185,0.365,0.093,0.294,0.464