In [2]:
import pandas as pd
import schools
df = schools.load_demographics()
# school_names = df[["dbn","school_name", "school_num", "school_type", "short_name"]]
# school_names.drop_duplicates()

# df.school_name.str.lower()

# list(df.columns)
df

,dbn,school_name,year,total_enrollment,grade_3k_pk_half_day_full,grade_k,grade_1,grade_2,grade_3,grade_4,...,school_num,boro,boro_name,school_type,clean_name,short_name,non_white,black_hispanic,white_asian,non_white_asian
0,01M015,P.S. 015 Roberto Clemente,2015-16,176,14,32,33,39,23,17,...,15,M,Manhattan,PS,roberto clemente,PS 15,174,162,11,165
1,01M015,P.S. 015 Roberto Clemente,2016-17,178,17,28,33,27,31,24,...,15,M,Manhattan,PS,roberto clemente,PS 15,174,156,18,160
2,01M015,P.S. 015 Roberto Clemente,2017-18,190,17,28,32,33,23,31,...,15,M,Manhattan,PS,roberto clemente,PS 15,184,162,26,164
3,01M015,P.S. 015 Roberto Clemente,2018-19,174,13,20,33,30,30,20,...,15,M,Manhattan,PS,roberto clemente,PS 15,168,143,30,144
4,01M015,P.S. 015 Roberto Clemente,2019-20,190,14,29,28,38,33,29,...,15,M,Manhattan,PS,roberto clemente,PS 15,181,152,36,154
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9091,84X730,Bronx Charter School for the Arts,2015-16,323,0,51,57,55,55,57,...,730,X,Bronx,PS,bronx charter school for the arts,PS 730,318,310,7,316
9092,84X730,Bronx Charter School for the Arts,2016-17,320,0,53,53,55,52,53,...,730,X,Bronx,PS,bronx charter school for the arts,PS 730,317,312,5,315
9093,84X730,Bronx Charter School for the Arts,2017-18,314,0,50,51,54,51,52,...,730,X,Bronx,PS,bronx charter school for the arts,PS 730,313,308,3,311
9094,84X730,Bronx Charter School for the Arts,2018-19,430,0,49,54,49,54,51,...,730,X,Bronx,PS,bronx charter school for the arts,PS 730,427,419,5,425
9095,84X730,Bronx Charter School for the Arts,2019-20,523,0,51,50,53,52,55,...,730,X,Bronx,MS,bronx charter school for the arts,MS 730,518,509,6,517

In [3]:
t = schools.find_school(df, "jhs 88")
# t = t.query("match > 80")
# t[["dbn", "clean_name", "match"]]
t = pd.DataFrame(t)
t[["dbn","short_name", "clean_name", "school_name"]]
pd.DataFrame.to_json(t, orient='records')

'[{"dbn":"15K088","school_name":"J.H.S. 088 Peter Rouget","year":"2019-20","total_enrollment":1418,"grade_3k_pk_half_day_full":0,"grade_k":0,"grade_1":0,"grade_2":0,"grade_3":0,"grade_4":0,"grade_5":0,"grade_6":482,"grade_7":522,"grade_8":414,"grade_9":0,"grade_10":0,"grade_11":0,"grade_12":0,"female":658,"female_1":0.464,"male":760,"male_1":0.536,"asian":287,"asian_1":0.202,"black":186,"black_1":0.131,"hispanic":712,"hispanic_1":0.502,"multiple_race_categories":32,"multiple_race_categories_1":0.023,"white":201,"white_1":0.142,"students_with_disabilities":326,"students_with_disabilities_1":0.23,"english_language_learners":169,"english_language_learners_1":0.119,"poverty":"1022","poverty_1":"72.1%","economic_need_index":"73.8%","pk":false,"elementary":false,"middle":true,"hs":false,"ay":2019,"district":15,"school_num":88,"boro":"K","boro_name":"Brooklyn","school_type":"MS","clean_name":"jhs 88 peter rouget","short_name":"MS 88","non_white":1217,"black_hispanic":898,"white_asian":488,"non_white_asian":930,"match":48}]'

In [5]:
from fuzzywuzzy import fuzz

qry = "IS 88"

t = df.copy(deep=False)
# t["match"] = t.clean_name.apply(lambda sn: fuzz.partial_ratio(qry, sn))

t["match"] = t.short_name.apply(lambda sn: fuzz.ratio(qry, sn))
t = t.query("match > 50")

# t["match"] = t.clean_name.apply(lambda sn: fuzz.ratio(qry, sn))
t = t.sort_values(by=["match"], ascending=False)

t = t[["dbn","short_name", "clean_name", "school_name", "match"]]
t
# t.clean_name.unique()

,dbn,short_name,clean_name,school_name,match
1983,09X088,PS 88,x088 - s silverstein little sparrow school,P.S. X088 - S. Silverstein Little Sparrow School,80
4247,18K068,IS 68,isaac bildersee,I.S. 068 Isaac Bildersee,80
1985,09X088,PS 88,x088 - s silverstein little sparrow school,P.S. X088 - S. Silverstein Little Sparrow School,80
3686,15K088,MS 88,jhs 88 peter rouget,J.H.S. 088 Peter Rouget,80
3685,15K088,MS 88,jhs 88 peter rouget,J.H.S. 088 Peter Rouget,80
...,...,...,...,...,...
3868,15K821,MS 821,sunset park prep,Sunset Park Prep,55
3867,15K821,MS 821,sunset park prep,Sunset Park Prep,55
3866,15K821,MS 821,sunset park prep,Sunset Park Prep,55
3865,15K821,MS 821,sunset park prep,Sunset Park Prep,55
9090,84X718,PS 718,bronx charter school for better learning,Bronx Charter School for Better Learning,55

In [ ]:
# ms = df.query("ay == 2018 & school_type == 'MS' & district == 15")
# ms[["dbn","school_name", "school_num", "school_type", "short_name"]]

In [7]:
import re
sn = "brooklyn"
p = re.compile(r"^(.*?)\b([m|p|i]s)([0-9]*)\b(.*)$", re.IGNORECASE)
m = p.search(sn)
m.group(1, 2, 3, 4)
# print(m)
# sn.replace(m.group(0), "")

# "ps 9".count(r"[M|P|I])

AttributeError: 'NoneType' object has no attribute 'group'